---
import { useTranslations } from "../../i18n/utils";

const {
    imageUrl,
    passage,
    citation,
    version,
    language,
    loading,
} = Astro.props;

const t = useTranslations(language);
---

<div class="container">
  <img src={imageUrl} alt="Verse Image…"/>
  <h2>{t("bible.app.dailyverse")} <span class="loading">{loading ? t("loading") : ""}</span></h2>
  <p class="passage">{passage}</p>
  <p class="citation">{citation} {version}</p>
</div>

<style>
  .container {
    display: flex; 
    flex-flow: column;
    justify-content: center;
    gap: 2rem;

    container: verse-of-the-day / inline-size;
  }

  img {
    align-self: center;
    width: clamp(200px, 80cqw, 420px);
    height: clamp(200px, 80cqw, 420px);
    max-width: 60vw;
    max-height: 60vw;
    margin-bottom: 2rem;
  }

  .passage {
    text-align: justify;
  }

  .citation {
    font-weight: bold;
  }
</style>

