---
import {getLangFromUrl, initTranslations, useTranslations} from "../i18n/utils";

const t = initTranslations(Astro.url);
---

<section>
  <div class="video-container">
    <video autoplay muted loop poster="/public/launchpad-welcome-poster.jpg">
      <source src="/public/launchpad-welcome.mp4" type="video/mp4"/>
    </video>
  </div>
  <div class="content-container">
    <div class="content">
      <h1>{t("welcome.title")}</h1>
      <p>{t("welcome.description")}</p>
    </div>
  </div>
</section>

<style>
  section {
    position: relative;
  }

  .video-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;

    animation: initial-video-zoom-out 2s linear forwards;
  }

  @keyframes initial-video-zoom-out {
    0% {
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
    100% {
      top: 2vw;
      right: 2vw;
      bottom: 2vw;
      left: 2vw;
    }
  }

  video {
    max-width: 2000px;
    width: auto;
    height: 120%;
    margin: 0 auto;
  }

  .content-container {
    display: inline-flex;
    min-height: 100vh;
    flex-direction: column-reverse;
  }

  .content {
    border: red 2px solid;
    align-self: flex-start;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
  }

  h1 {
    font-size: 8rem;
    padding: 2vw;

    background: rgba(255, 255, 255, 1);
    color: black;
    backdrop-filter: blur(10px);
    mix-blend-mode: screen;
    box-sizing: border-box;

    width: 100%;
    max-width: fit-content;
    word-wrap: break-word;
  }

  p {
    font-size: 1.5rem;
    padding: 2vw;
    color: black;
    font-weight: normal;
    text-align: justify;
    max-width: 100%;
    margin: 0;
    width: fit-content;
    background-color: white;
    display: inline-block;
  }
</style>