---
import {getLangFromUrl, initTranslations, useTranslations} from "../i18n/utils";

const t = initTranslations(Astro.url);
---

<section id="welcome">
  <div class="video-container">
    <video
            id="background-video"
            autoplay
            muted
            loop
            playsinline
            webkit-playsinline
            preload="auto"
            disablePictureInPicture
            disableRemotePlayback
            controlsList="nodownload nofullscreen noremoteplayback"
            poster="/launchpad-welcome-poster.webp">
      <source src="/launchpad-welcome.mp4" type="video/mp4"/>
    </video>
  </div>
  <div class="content">
    <p>{t("welcome.description")}</p>
    <h1>{t("welcome.title")}</h1>
  </div>
</section>

<style>
  section {
    position: relative;
  }

  .video-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: flex-end;

    animation: initial-video-zoom-out 2s ease-in-out forwards;
  }

  @keyframes initial-video-zoom-out {
    0% {
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
    100% {
      top: var(--video-frame-size);
      right: var(--video-frame-size);
      bottom: var(--video-frame-size);
      left: var(--video-frame-size);
    }
  }

  video {
    width: auto;
    height: 120%;
    object-fit: cover;
    object-position: center;
  }

  .content {
    align-self: flex-start;
    box-sizing: border-box;
    display: flex;
    min-height: 100vh;
    flex-direction: column-reverse;
  }

  h1 {
    font-size: clamp(4rem, 10vw, 8rem);
    padding: var(--general-padding);

    background: rgba(255, 255, 255, 1);
    color: black;

    backdrop-filter: blur(10px);
    mix-blend-mode: screen;

    width: 100%;
    box-sizing: border-box;

    opacity: 0;
    animation: fly-in 700ms 600ms ease-in-out forwards;
  }

  p {
    font-size: var(--general-font-size);
    font-weight: normal;
    text-align: justify;

    color: black;
    background-color: white;

    padding: var(--general-padding);
    margin: 0;
    box-sizing: border-box;

    max-width: 100%;
    width: 100%;

    opacity: 0;
    animation: fly-in 700ms 720ms ease-in-out forwards;
  }

  @keyframes fly-in {
    0% {
      opacity: 0;
      transform: translateY(200px);
    }
    30% {
      opacity: 0.0;
    }
    65% {
      opacity: 0.3;
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
</style>